
.grid-container2{
    display: grid; 
    justify-items: center;
    grid-template-columns: 300px auto auto;
    grid-template-rows: 400px 100px;
    grid-gap: 40px;
    padding: 25px;
 }


.about_text{
    grid-column: 1 / span 2;
    grid-row: 1/span 1;
    height: 300px;
    background-color:rgba(255, 255, 255, 0.63);
    margin: 0px;
}

.Title{
    font-family: cursive;
    color: black;
    font-size: 40px; 
}

#text{
    font-family: cursive;
    color: black;
    font-size: 20px;
    line-height: 40px;
}


.img{
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
    height: 50px;
    padding-top: 40px;
    border-radius: 50%;
    width: 100px;
}


.sendB {
    background-color:  #f4b7c7;
    font-size: 15px;
    font-family: cursive;
    padding: 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    
    
}

.sendB:hover {
opacity: 1;
}

