<!doctype html>
<html lang="en">

<html>
<head>
    <title>Workshops | Chloe's Cookies</title>
    <link rel="stylesheet" href={{ url_for('workshops.static', filename= '/css/workshop.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename= '/css/general.css') }}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class = "header">
        <div class="grid-container1">

            <div class="logoImg">
                <img id="logoImg" src="{{url_for('static', filename='images/logo.jpeg') }}" alt= "logo">
            </div>
               
            <div class="titleName">
               
                <a id="titleName">Chloe's Cookies</a>
            </div>
        </div>
        
    </div>
    <div class="nav">

            <div class= "navbar">
                <br>
                <a href='/' class="text">&nbsp;Home</a>
                <a href='/about' class="text" >About</a>
                <a href='/Shop' class="text">Shop</a>
                <a href='/Recipes' class="text">Recipes</a>
                <a href='/Workshops' class="text" id="active">Workshops</a>
                <a href='/GiftCard' class="text">GiftCard</a>
            </div>


            <div class="connect">
                <br>
                <a  href="/connect"><img id="connectImg" src="{{url_for('static', filename='images/connect.png') }}" alt= "connect" ></a>
            </div>
        
    </div>
        

        <div class="main">

            <div class="grid-container2">
                
                <div class="text1">
                    <p id="text">
                        You can purchase a workshop for yourself, for a friend, 
                        <br>
                        for a birthday, or just because you want to spoil someone or yourself :)
                    </p>
                </div>
                
                <div class="cake">
                        {% for name in namepic %}
                            &nbsp;&nbsp;
                            <a href="/Workshop/{{ name[0] }}"><img id="popup" src="{{ url_for('workshops.static', filename= name[1] ) }}" alt= "cake" width="180px"></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                    <br>
                </div>

                <div class="nameWork">
                    <p id="text">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         {% for name in names %}
                             {{ name.workshop_name}}
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;
                         {% endfor %}
                    <br>
                    </p>
                </div>
            </div>
        </div>


        <div class="footer">
            <div id="footer">
                <br>
                <a href="/contact me" class="text">Contact Me</a>
                <div class="socialNetworks">
                <a class="icon" href="https://www.instagram.com/chloe_cookies_/"><i class="fa fa-instagram"></i></a>
                <a class="icon" href="https://wa.me/972542483012" ><i class="fa fa-whatsapp"></i></a>
                <a class="icon" href="https://www.facebook.com/Chloes-Cookies-109434714280348" ><i class="fa fa-facebook"></i></a>
                </div>
            </div>
            
            <p class="textE" >Recommended resolution: 1440*900</p>

        </div>





</body>


</html>